#footer {
    width: 100vw;
    height: 332px;
    position: relative;
    bottom: 0px;
    /* border: 1px solid red; */
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#footer_1 {
    width: 76vw;
    height: 210px;
    /* border: 1px solid blue; */
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
    /* color: ; */
}
#footer_1  a {
    text-decoration: none;
    color: rgb(67, 67, 221);
    /* margin-top: 3px;
    margin-bottom: 3px; */
    font-size: 13px;
    /* padding: 01px; */
}
.ptags {
    font-weight: 550;
}
#footer_2_1 > a {
    text-decoration: none;
    color: rgb(67, 67, 221);

}
#footer_1 > p{
    margin-top: -5px;
}
#footer_2 {
    display: flex;
    font-size: 14px;
    height: 14px;
    width: 80vw;
    justify-content: space-between;
    margin: auto;
    color: grey;
    margin-top: 10px;
}
#footer_2_1 {
    display: flex;
    justify-content: space-evenly;
    gap: 14px;

}
#footer_1_5_1 > a> img{
    width: 14px;
    margin-right: 20px;
}