#heading1 {
    text-align: center;
}

#container1 {
    width: 90%;
    margin: auto;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid red; */
    gap: 5%;
}

.innercontainer1 {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.innercontainer1>img {
    width: 100%;
}

.innercontainer1>p {
    color: gray;
    width: 72%;
}

.innercontainer1>h2,
p,
h3,
#one {
    margin-left: 20px;
}

#one {
    display: flex;
    justify-content: space-between;
}

#one>p {
    color: rgb(144, 96, 255);
    font-weight: bolder;
}

#one>button {
    background-color: rgb(144, 96, 255);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

/* --------------------------------------- */
#container2 {
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 150px;
    /* border: 2px solid red; */
    gap: 100px;
}

#innercontainer21 {
    width: 35%;
    border: 1px solid black;
}

#innercontainer22>p {
    margin-top: 30px;
    font-size: 25px;
    color: rgb(56, 64, 76);
}

#innercontainer22>button {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    background-color: rgb(251, 165, 4);
    padding: 10px 30px;
    margin-left: 30%;
    border-radius: 5px;
    margin-top: 30px;
}

#innercontainer21>img {
    width: 100%;
}

#innercontainer22 {
    border: 1px solid black;
}

#innercontainer22>h1 {
    width: 80%;
    margin-left: 20px;
    margin-top: 80px;
}

/* ------------------------------------------------------------------------  */
#container3 {
    width: 100%;
    height: 1000px;
    background-color: rgb(242, 243, 248);
    margin-top: 80px;
    border: 2px solid black;
}

#container3>h1 {
    text-align: center;
    padding-top: 80px;
}

#container31 {
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.container311 {
    background-color: white;
    border: 2px solid blue;
    border-radius: 8px;
}

.container311>h1 {
    margin-left: 20px;
}

.container311>p {
    margin-left: 20px;
    color: gray;
    width: 80%;
}

.lastdiv {
    border: 1px solid violet;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.O111 {
    display: flex;
    align-items: center;
    color: rgb(127, 89, 89);
}

.O111>p {
    margin: 10px;
}

.O112 {
    display: flex;
    align-items: center;
    color: rgb(127, 89, 89);
}

.O112>p {
    margin: 5px;
}

#explore {
    color: blue;
    font-weight: bold;
}

/* ----------------------------feeling lost----------------------------------------------- */
#feelingH1 {
    text-align: center;
    margin-top: 80px;
}

#feelingP {
    text-align: center;
    font-size: 25px;
}

#feelingLost {
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

#feelingLost1 {
    border: 1px solid rgb(248, 171, 171);
    display: flex;
    height: 300px;
    align-items: center;
}

#feelingLost1>div>img {
    width: 50%;
}

#feelingLost1 button {
    background-color: rgb(108, 45, 255);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
}

#feelingLost1 p {
    font-size: 30px;
    font-weight: bolder;
    margin-left: -8px;
}

#feelingLost2 {
    border: 1px solid rgb(248, 171, 171);
    display: flex;
    height: 300px;
    align-items: center;
}

#feelingLost2 img {
    width: 50%;
}

#feelingLost2:last-child div {
    margin: auto;
}

#feelingLost2 button {
    background-color: rgb(108, 45, 255);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
}

#feelingLost2 p {
    font-size: 30px;
    font-weight: bolder;
    margin-left: -8px;
}
/* ----------------------------------------------REVIEWS----------------------------------------------------------------------  */

#success{
    text-align: center;
}
#successdiv{
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    
}
.successdiv1{
    /* border: 2px solid green; */
    background-color: rgb(230,230,230);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.successdiv1>div{
    height: 80px;
    display: flex;
    justify-content: flex-end;
}
.successdiv1 img{
    height: 80px;
    /* margin-top: 20px; */
    margin: 20px;
}
.successdiv1>h1{
    margin: 20px;
    margin-top: 30px;
}
#heading1{
margin-top: 200px;
}
/* ------------------------------ slider--------------------------------------- */

/* --------------------------  footer ---------------------------------- */
#footer {
    width: 100vw;
    height: 332px;
    position: relative;
    bottom: 0px;
    /* border: 1px solid red; */
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#footer_1 {
    width: 76vw;
    height: 210px;
    /* border: 1px solid blue; */
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* color: ; */
}
.ptags {
    font-weight: 550;
}
a {
    text-decoration: none;
    color: rgb(67, 67, 221);
}
#footer_1 p{
    margin-top: -5px;
}
#footer_2 {
    display: flex;
    font-size: 14px;
    height: 14px;
    width: 80vw;
    justify-content: space-between;
    margin: auto;
    color: grey;
}
#footer_2_1 {
    display: flex;
    justify-content: space-evenly;
    gap: 14px;

}
#footer_1_5_1 > a> img{
    width: 14px;
    margin-right: 20px;
}