#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 150px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.17);
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
#navbar_1 {
    display: flex;
    /* position: relative; */
    height: 35px;
    padding-top: 3px;
    width: 100vw;
    justify-content: right;
    /* margin-right: 100px; */
    /* border: 1px solid red; */
    background-color: rgb(242,243,248);
    align-items: center;
}
#navbar_1  div {
    margin-right: 30px;
}
#navbar_1 div:nth-child(1):hover {
    border-bottom: 3px solid rgb(31, 110, 237);
}
#navbar_1 div:nth-child(2):hover {
    border-bottom: 3px solid rgb(31, 110, 237);
}
#navbar_1 div:nth-child(3):hover {
    border-bottom: 3px solid rgb(31, 110, 237);
}
#navbar_1 div:nth-child(3):hover #Help_DD{
    display: block;
    text-align: center;
}
#navbar_1 div:nth-child(3) {
    margin-right: 110px;
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
#navbar_1 div:nth-child(3) div {     
    position: absolute;
    background-color: #f9f9f9;
    display: none;
    min-width: 160px;
    max-height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.9);
    padding: 15px;
    border-radius: 6px;
    text-align: left;
    /* background-color: beige; */
    z-index: 1;
}
#Help_DD {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Help_DD h2 {
    margin-bottom: -6px;
    margin-top: -4px;
}
#Help_DD p {
    color: grey;
    margin-bottom: -4px;
    /* margin-top: -4px; */
} 
#navbar_2 {
    display: flex;
    height: 60px;
    /* padding-top: 3px; */
    /* border-bottom: 1px solid lightgray; */
    width: 85vw;
    margin: auto;
    margin-bottom: -8px;
    justify-content: space-between;
}
#navbar_2_1 {
    display: flex;
    width: 50px;
    padding-top: 4px;
}
#navbar_2_1 > img:nth-child(1) {
    height: 50px;
    width: 75px;
}
#navbar_2_1 > input:nth-child(2){
    padding: 0.1px 240px 0.1px 15px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.475) 0px 1px 4px 0px;
    margin-left: 40px;
}
#navbar_2_1 > img:nth-child(3) {
    height: 38px;
    /* padding: 4px; */
    margin-top: 10px;
}
#navbar_2_2 {
    display: flex;
    align-items: center;
}
#navbar_2_2 > div >img:nth-child(1) {
    height: 28px;
    margin-right: 40px;
    position: relative;
    display: inline-block;
}
#navbar_2_2 > img:nth-child(2) {
    height: 29px;
    margin-right: 40px;
}
#navbar_2_2 > img:nth-child(3) {
    height: 24px;
    margin-right: 36px;
}
#navbar_2_2_1 {
    margin-right: 30px;
}
#navbar_2_2_1 > a:nth-child(1) > button{
    padding: 4px 18px;
    border: 1.5px solid rgb(31, 110, 237);
    color: rgb(31, 110, 237);
    background-color: white;
    font-weight: 700;
    border-radius: 5px;
}
#navbar_2_2_1 > a:nth-child(1)>  button:hover {
    /* padding: 9px 4px; */
    background-color:  rgb(31, 110, 237);
    color: white;
}
#navbar_2_2_1 > a:nth-child(2) > button{
    padding: 5px 20px;
    border: transparent;
    background-color: rgb(31, 110, 237);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#navbar_2_2_1 > a:nth-child(2) > button:hover {
    /* padding: 9px 4px; */
    background-color:  rgb(29, 93, 197);
    /* color: white; */
}
#navbar_2_2 > img:nth-child(1):hover {
    position: pending hai karna hai;
}
#navbar_3 {
    display: flex;
    gap: 30px;
    width: 46vw;
    font-weight: 600;
    /* border: 1px solid red; */
    margin-left: 110px;
    margin-top: -9px;
    font-size: 14px;
    /* justify-content: left; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* box-shadow: 0px 0px 5px 0px grey; */
}
/* #navbar3  */

#navbar_3 > div:hover {
    border-bottom: 3px solid rgb(31, 110, 237);
}
#navbar_3 div:nth-child(2):hover #Jobs_hvr_1{
    display: block;
    text-align: left;
}
#navbar_3 div:nth-child(2) {
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
#navbar_3 div:nth-child(2) div {     
    position:absolute;
    background-color: #f9f9f9;
    display: none;
    min-width: 140px;
    max-height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.9);
    padding: 5px;
    border-radius: 6px;
    text-align: left;
    margin-top: -2px;
    z-index: 1;
}
/* #Help_DD h2 {
    margin-bottom: -6px;
    margin-top: -4px;
}
#Help_DD p {
    color: grey;
    margin-bottom: -4px;
    /* margin-top: -4px; 
} */
#navbar_3 div:nth-child(2) #Jobs_hvr_1 p {
    padding: 10px;
    font-weight: 300;
    font-size: 14.5px;
    margin-top: -0.001px;
    margin-bottom: -0.001px;
}
#navbar_3 div:nth-child(2) #Jobs_hvr_1 p:hover{
    border-left: 2.5px solid rgb(31, 110, 237);
    color: rgb(31, 110, 237);
    font-size: 15px;
    font-weight: 300;
}
/* Next wala */
#navbar_3 div:nth-child(3):hover #JobS_hvr_1{
    display: block;
    text-align: left;
}
#navbar_3 div:nth-child(3) {
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
#navbar_3 div:nth-child(3) div {     
    position:absolute;
    background-color: #f9f9f9;
    display: none;
    min-width: 160px;
    max-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.9);
    padding: 5px;
    border-radius: 6px;
    text-align: left;
    margin-top: -2px;
    z-index: 1;
}
#navbar_3 div:nth-child(3) #JobS_hvr_1 p {
    padding: 10px;
    font-weight: 300;
    font-size: 14.5px;
    margin-top: -0.001px;
    margin-bottom: -0.001px;
}
#navbar_3 div:nth-child(3) #JobS_hvr_1 p:hover{
    border-left: 2.5px solid rgb(31, 110, 237);
    color: rgb(31, 110, 237);
    font-size: 15px;
    font-weight: 300;
}

/* Course drop down */

#navbar_3 div:nth-child(4):hover #courses_hvr_1{
    display: block;
    text-align: left;
}
#navbar_3 div:nth-child(4) {
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}
#navbar_3 div:nth-child(4) div {     
    position:absolute;
    background-color: #f9f9f9;
    display: none;
    min-width: 200px;
    max-height: 170px;
    box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.9);
    padding: 5px;
    /* margin-top: -15px; */
    border-radius: 6px;
    text-align: left;
    margin-top: -2px;
    z-index: 1;
}
#navbar_3 div:nth-child(4) #courses_hvr_1 p {
    padding: 10px;
    font-weight: 300;
    font-size: 14.5px;
    margin-top: -0.001px;
    margin-bottom: -0.001px;
}
#navbar_3 div:nth-child(4) #courses_hvr_1 p:hover{
    border-left: 2.5px solid rgb(31, 110, 237);
    color: rgb(31, 110, 237);
    font-weight: 300;
}
